{{#if notDeleted}}
<div class="post">
    <div class="post-content glasshover">
        
        <div class="vote-container vote-width">
            <ion-icon name="caret-up-outline" id="up-{{postID}}" onclick="upvotePost(this.id)" 
                {{#if userUpvote}}
                style="color: var(--HLsecondary);"
                {{/if}}
            ></ion-icon>
            <div id="votes-{{postID}}">{{votes}}</div>
            <ion-icon name="caret-down-outline" id="down-{{postID}}" onclick="downvotePost(this.id)"
                {{#if userDownvote}}
                style="color: var(--HLsecondary);"
                {{/if}}
            ></ion-icon>
        </div>

        <a href="/{{username}}/{{postID}}">
            <div class="post-text">
                
                <h1>{{title}}</h1>
                <h2>{{username}} | {{date}} | {{numComments}} replies</h2>
                
            </div>
        </a>

    </div>
    
    
    <a href="/{{username}}"><div style="background-image: url(../images/{{icon}})" class="post-pfp glasshover"></div></a>

</div>
{{/if}}