<div class="profile-side glasshover"  onclick="location.href='/{{c_username}}'"> <!-- side bar -->

	<div class="side-header"> <!-- logo -->
		<a href="/"><img src="../images/salamin_logoSMALL.png" alt="Salamin" id="salamin-logo"></a>
		
	</div>

	<div class="side-content"> <!-- profile pic bg & profile text thing -->
		<div class="side-message">Good morning, {{c_displayName}}! <br> You're doing just fine.</div>
		<div class="user-info">{{c_numUserPosts}} posts | {{c_numUserComments}} comments</div>
	</div>

	<div class="side-footer"> <!-- action sprites (logout, username, settings) -->
		<ion-icon name="log-out-outline" onclick="event.stopPropagation(); window.location.href='/'"></ion-icon>
		
		<div class="username-action">
			{{c_username}}
		</div>

		<ion-icon name="sunny-outline"></ion-icon>
		
	</div>
</div>