{{#if loggedIn}}
<div class="profile-side glasshover"  onclick="location.href='/{{loggedUsername}}'" style="background-image: url(../images/{{banner}});"> <!-- side bar -->

	<div class="side-header"> <!-- logo -->
		<a href="/"><img src="../images/salamin_logoSMALL.png" alt="Salamin" id="salamin-logo"></a>
		
	</div>

	<div class="side-content"> <!-- profile pic bg & profile text thing -->
		<div class="side-message">Good morning, {{displayName}}! <br> You're doing just fine.</div>
		<div class="user-info">{{numPosts}} posts </div>
	</div>

	<div class="side-footer"> <!-- action sprites (logout, username, settings) -->
		<ion-icon name="log-out-outline" onclick="event.stopPropagation(); window.location.href='/logout'"></ion-icon>
		
		<div class="username-action">
			{{loggedUsername}}
		</div>

		<ion-icon name="sunny-outline"></ion-icon>
		
	</div>
</div>
{{/if}}