<!DOCTYPE html>
<html>
<head>
	<title>Salamin | Post by {{username}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>

    {{#if loggedIn}}
        {{> sidebar}}
    {{/if}}

    <div class="page">

        {{> headernp}}

        <div class="box green" id="post-section">
            <div class="post-header">
                <div class="vote-container">

                    <ion-button >
                        <ion-icon name="caret-up-outline"></ion-icon>
                    </ion-button>
                    
                    <div>{{votes}}</div> 

                    <ion-button>
                        <ion-icon name="caret-down-outline"></ion-icon>
                    </ion-button>
                    
                </div>

                <h1 contenteditable="false" id="post-title">
                    {{title}}
                </h1>

                <nav class="dropdown-container">
                    <ion-icon class="dropdown-button" name="ellipsis-horizontal"></ion-icon>

                    <div class = "dropdown-items">
                        <button id="p-edit-{{postID}}" onclick="editPost(this.id)">Edit</button>
                        <button id="p-del-{{postID}}" onclick="delPost(this.id)">Delete</button>
                    </div>
			    </nav>
            </div>

            <div class="flex-column" id="post-description-container">
                <p id="post-description" contenteditable="false">{{description}}</p>
            </div>
            <div class="post-footer">
                
                <div><h2>{{username}} | {{date}}</h2></div>
                <a href="/{{username}}"><div style="background-image: url(../images/{{icon}})" class="post-pfp pfp-small glasshover"></div></a>
                
            </div>

        </div>
        {{#if loggedIn}}
            <div class="box">
                <form method="POST">
                    <textarea placeholder="Write a comment..." name="commentBox" class="textarea"  role="textbox" id="comment-box" contenteditable></textarea>
                    <button id="comment-button">Comment</button>

                </form>
                
            </div>
        {{/if}}

        <div class="box" id="comment-section">
            {{#each comments}}
                {{> comment}} {{!-- logged in boolean --}}
            {{/each}}
        </div>

    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
	    //asynchronously add comment without needing to reload the page
        var commentBox = document.querySelector('#comment-box');
        var commentButton = document.querySelector('#comment-button');
        
        commentButton.onclick = function(){
            if (commentBox.value.replace(/\s+/g, '') == '') return;

            var c = {
                commenterUsername: "oO0Eve0Oo",
                commentDate: Date.now(),
                commentVotes: 0,
                commenterIcon: "pfp_eve.jpg",
                commentDesc: commentBox.value
            }

            var commentHTML = `
                <div class="comment">
                    <div class="comment-inner">
                        <a href="/${c.commenterUsername}"><div style="background-image: url(../images/${c.commenterIcon})" class="post-pfp pfp-small glasshover"></div></a>
                        <div class="vote-container">

                            <ion-button>
                                <ion-icon name="caret-up-outline"></ion-icon>
                            </ion-button>
                                    
                            <div>${c.commentVotes}</div>

                            <ion-button>
                                <ion-icon name="caret-down-outline"></ion-icon>
                            </ion-button>
                            
                        </div>
                    </div>
                    <div class="comment-inner full">
                        <div class="comment-header">
                            <span class="commenter-username">${c.commenterUsername}</span>
                            <nav class="dropdown-container">
                                    <ion-icon class="dropdown-button" name="ellipsis-horizontal"></ion-icon>

                                    <div class="dropdown-items">
                                        <button id="edit" onclick="edit(this.id)">Edit</button>
                                        <button id="del" onclick="del(this.id)">Delete</button>
                                    </div>
                            </nav>
                        </div>
                        <p class="comment-content full" id="comment-description" contenteditable="false">
                            ${c.commentDesc}
                        </p>

                        <div class="comment-footer">
                            Posted on ${c.commentDate}
                        </div>
                    </div>
                </div>
            
            `

            var commentSection = document.querySelector('#comment-section');
            commentSection.insertAdjacentHTML("beforeend", commentHTML);

            commentBox.value = '';
        };

        


    </script>

</body>
</html>
