<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        {{!-- imports --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>Salamin | Post by @{{username}}</title>
    </head>
    <body>
        {{#if loggedIn}}
            {{> sidebar}}
        {{/if}}

        {{!-- PAGE --}}
        <div class="page">

            {{> headernp}}

            {{!-- POST --}}
            <div class="box green" id="post-section">
                <div class="post-header">
                    <div class="vote-container">
                        <ion-icon name="caret-up-outline" ></ion-icon>
                        <div>{{votes}}</div> 
                        <ion-icon name="caret-down-outline"></ion-icon>
                    </div>

                    <h1 contenteditable="false" id="post-title">
                        {{title}}
                    </h1>
                </div>

                <div class="flex-column" id="post-description-container">
                    <p id="post-description" contenteditable="false">{{description}}</p>
                </div>
                <div class="post-footer">
                    
                    <div><h2>{{username}} | {{date}}</h2></div>
                    <div style="background-image: url(../images/{{icon}})" class="post-pfp pfp-small"></div>
                    
                </div>
            </div>
            
            {{!-- POST END --}}
            
            {{!-- COMMENT PROMPT, show only if logged in (priority: sessions) --}}
            {{#if loggedIn}}
              <div class="box">
            
                <form method="POST">
                    <textarea placeholder="Write a comment..." name="commentBox" class="textarea"  role="textbox" id="comment-box" contenteditable></textarea>
                    
                    <button type="submit" id="comment-button">Comment</button>
                </form>
              </div>
            {{/if}}
            
            {{!-- COMMENT PROMPT END --}}

            {{!-- COMMENTS SECTION --}}
            <div class="box" id="comment-section">
                {{#each comments}}
                    {{> comment}}
                {{/each}}
            </div>
            {{!-- COMMENTS SECTION END --}}
        </div>
        {{!-- PAGE END --}}

    {{!-- ICON IMPORT --}}
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {{!-- ICON IMPORT END --}}

    <script>
	    //asynchronously add comment without needing to reload the page
        var commentBox = document.querySelector('#comment-box');
        var commentButton = document.querySelector('#comment-button');
        
        commentButton.onclick = function(){
            if (commentBox.value.replace(/\s+/g, '') == '') return;

            var c = {
                commenterUsername: "oO0Eve0Oo",
                commentDate: Date.now(),
                commentVotes: 0,
                commenterIcon: "pfp_eve.jpg",
                commentDesc: commentBox.value
            }

            var commentHTML = `
                <div class="comment">
                    <div class="comment-inner">
                        <a href="/${c.commenterUsername}"><div style="background-image: url(../images/${c.commenterIcon})" class="post-pfp pfp-small glasshover"></div></a>
                        <div class="vote-container">

                            <ion-button>
                                <ion-icon name="caret-up-outline"></ion-icon>
                            </ion-button>
                                    
                            <div>${c.commentVotes}</div>

                            <ion-button>
                                <ion-icon name="caret-down-outline"></ion-icon>
                            </ion-button>
                            
                        </div>
                    </div>
                    <div class="comment-inner full">
                        <div class="comment-header">
                            <span class="commenter-username">${c.commenterUsername}</span>
                            <nav class="dropdown-container">
                                    <ion-icon class="dropdown-button" name="ellipsis-horizontal"></ion-icon>

                                    <div class="dropdown-items">
                                        <button id="edit" onclick="edit(this.id)">Edit</button>
                                        <button id="del" onclick="del(this.id)">Delete</button>
                                    </div>
                            </nav>
                        </div>
                        <p class="comment-content full" id="comment-description" contenteditable="false">
                            ${c.commentDesc}
                        </p>

                        <div class="comment-footer">
                            Posted on ${c.commentDate}
                        </div>
                    </div>
                </div>
            
            `

            var commentSection = document.querySelector('#comment-section');
            commentSection.insertAdjacentHTML("beforeend", commentHTML);

            commentBox.value = '';
        };

        


    </script>

  </body>
</html>
