<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        {{!-- imports --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../js/marked.min.js"></script>
        <script src="../js/purify.min.js"></script>

        <title>Salamin | Post by @{{username}}</title>
    </head>
    <body>
        {{#if loggedIn}}
            {{> sidebar}}
        {{/if}}

        {{!-- PAGE --}}
        <div class="page">

            {{> headernp}}

            {{!-- POST --}}
            <div class="box green" id="post-section">
                <div class="post-header">

                    <div class="vote-container">
                        <ion-icon name="caret-up-outline" onclick="upvotePost()" id="up"
                            {{#if userUpvote}}
                            style="color: var(--HLsecondary);"
                            {{/if}}
                        ></ion-icon>
                        <div id="votes">{{votes}}</div>
                        <ion-icon name="caret-down-outline" onclick="downvotePost()" id="down"
                            {{#if userDownvote}}
                            style="color: var(--HLsecondary);"
                            {{/if}}
                        ></ion-icon>
                    </div>

                    <h1 contenteditable="false" id="post-title">
                        {{title}}
                    </h1>
                    {{#if loggedIn}}
                        <nav class="dropdown-container">
                            <ion-icon class="dropdown-button" name="ellipsis-horizontal"></ion-icon>

                            <div class = "dropdown-items">
                                <button id="p-edit">Edit</button>
                                <button id="p-del" >Delete</button>
                            </div>
                        </nav>
                    {{/if}}
                </div>

                <div class="flex-column" id="post-description-container">
                    <p id="post-description" contenteditable="false">{{description}}</p>
                </div>
                <div class="post-footer">
                    
                    <div><h2>{{username}} | {{date}}</h2></div>
                    <a href="/{{username}}"><div style="background-image: url(../images/{{icon}})" class="post-pfp pfp-small"></div></a>
                </div>
            </div>
            
            {{!-- POST END --}}
            
            {{!-- COMMENT PROMPT, show only if logged in (priority: sessions) --}}
            {{#if loggedIn}}
              <div class="box">
                
                <span class="textarea" role="textbox" id="comment-box" contenteditable></span>
                <button type="submit" id="comment-button">Comment</button>
                
              </div>
            {{/if}}
            
            {{!-- COMMENT PROMPT END --}}

            {{!-- COMMENTS SECTION --}}
            <div class="box" id="comment-section">
                {{#each comments}}
                    {{> comment}}
                {{/each}}
            </div>
            {{!-- COMMENTS SECTION END --}}
        </div>
        {{!-- PAGE END --}}

    {{!-- ICON IMPORT --}}
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {{!-- ICON IMPORT END --}}
    
    <script src="../js/post-page.js"></script>
  </body>
</html>
