<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/index.css">

        {{!-- import --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>Salamin | Home</title>
    </head>
    <body>

        {{!-- PROFILE SIDE --}}
        <div class="profile-side glasshover" style="background-image: url(../images/{{banner}})"><a href="/{{loggedUsername}}">

            <div class="side-header">
                <a href="/home"><img src="../images/salamin_logoSMALL.png" alt="Salamin" id="salamin-logo"></a>
            </div>

            <div class="side-content">
                <div class="side-message">Good morning, {{displayName}}! <br> You're doing just fine. </div>
                
                <div class="user-info">{{numPosts}} posts</div>
                {{!--  | {{numComments}} comments --}}
            </div>

            <div class="side-footer">
                <a href="/"><ion-icon name="log-out-outline"></ion-icon></a>

                <div class="username-action">
                    <a href="/{{loggedUsername}}">{{loggedUsername}}</a>
                </div>

                <ion-icon name="sunny-outline"></ion-icon>
                
            </div></a>
        </div>
        {{!-- PROFILE SIDE END --}}

        {{!-- TIMELINE --}}
        <div class="post-side">

            {{!-- SEARCH BAR --}}
            <div class="page-header">
                
                <div class="search-bar">
                    <ion-icon name="search-outline"></ion-icon>
                    <form class="searchForm">
                        <input type="text" placeholder="Search..." id="search" name="search">
                    </form>
                    
                </div>

                {{!-- FILTER POSTS --}}
                <nav class="dropdown-container">
                    <ion-icon class="dropdown-button" name="filter-outline"></ion-icon>

                    <div class = "dropdown-items">
                        <button>Recent</button>
                        <button>Old</button>
                        <button>Popular</button>
                        <button>Unpopuar</button>
                    </div>
                </nav>
                {{!-- FILTER POSTS END --}}
            </div>
            {{!-- SEARCH BAR END --}}

            {{!-- POST PROMPT --}}
            <div class="box">
                <form method="POST">
                    <input type="text" placeholder="Title" class="post-title" id="post-title">
                    <textarea placeholder="What's on your mind?" name="postBox" class="textarea"  role="textbox" id="post-box" contenteditable></textarea>
                    
                    <button type="submit" id="post-button">Post</button>
                </form>
            </div>
            {{!-- POST PROMPT END --}}

            {{!-- POST PREVIEWS --}}
            <div class="page-content" id="page-content">
                {{#each posts}}
                    {{> postprev}}
                {{/each}}
            </div>
            {{!-- POST PREVIEWS END --}}
        
        </div>
        {{!-- TIMELINE END --}}

    {{!-- ICON IMPORT --}}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {{!-- ICON IMPORT END --}}

    </body>
</html>