<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/index.css">

        {{!-- import --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../js/marked.min.js"></script>
        <script src="../js/purify.min.js"></script>
        <title>Salamin | Home</title>
    </head>
    <body>

        {{> sidebar}}
        {{!-- PROFILE SIDE END --}}

        {{!-- TIMELINE --}}
        <div class="page">
            {{#if loggedIn}}
            {{!-- SEARCH BAR --}}
            <div class="page-header">
                
                <div class="search-bar">
                    <ion-icon name="search-outline"></ion-icon>
                    <form class="searchForm">
                        <input type="text" placeholder="Search..." id="search" name="search" value="{{search}}">
                    </form>
                    
                </div>

                {{!-- FILTER POSTS --}}
                <nav class="dropdown-container">
                    <ion-icon class="dropdown-button" name="filter-outline"></ion-icon>

                    <div class = "dropdown-items">
                        <a href="/?sortBy=recent&search={{search}}"><button>Recent</button></a>
                        <a href="/?sortBy=old&search={{search}}"><button>Old</button></a>
                        <a href="/?sortBy=popular&search={{search}}"><button>Popular</button></a>
                        <a href="/?sortBy=unpopular&search={{search}}"><button>Unpopuar</button></a>
                    </div>
                </nav>
                {{!-- FILTER POSTS END --}}
            </div>
            {{!-- SEARCH BAR END --}}
            {{else}}
            {{!-- HEADER --}}
                <header class="header">

                    <div class="header-logo"></div>

                    {{!-- SEARCH BAR --}}
                    <div class="search-bar">
                        <ion-icon name="search-outline"></ion-icon>
                        <form class="searchForm">
                            <input type="text" placeholder="Search..." id="search" name="search">
                        </form>
                    </div>
                    {{!-- SEARCH BAR END --}}

                    {{!-- FILTER OPTIONS --}}
                    <nav class="dropdown-container">
                        <ion-icon class="dropdown-button" name="filter-outline"></ion-icon>
        
                        <div class = "dropdown-items">
                            <a href="/?sortBy=recent&search={{search}}"><button>Recent</button></a>
                            <a href="/?sortBy=old&search={{search}}"><button>Old</button></a>
                            <a href="/?sortBy=popular&search={{search}}"><button>Popular</button></a>
                            <a href="/?sortBy=unpopular&search={{search}}"><button>Unpopuar</button></a>
                        </div>
                    </nav>
                    {{!-- FILTER OPTIONS END --}}

                    {{!-- LOGIN BUTTON --}}
                    <a href="/login"><button class="nav_btn" id="form-open">Login</button></a>
                    {{!-- LOGIN BUTTON END --}}

                </header>
                {{!-- HEADER END --}}

                {{!-- SPACER --}}
                <div class="box" style="background-color: var(--BGprimary);">

                </div>
                {{!-- SPACER END --}}
            {{/if}}
            {{!-- POST PROMPT --}}
            <div class="box">
                
                <input type="text" placeholder="Title" class="post-title" id="post-title">
                <span class="textarea" role="textbox" id="post-box" contenteditable></span>
                
                <button type="submit" id="post-button"
                
                {{#if loggedIn}}
                    onclick="insertPost();"
                {{else}}
                    onclick="loginPrompt();"
                {{/if}}
                >Post</button>
                
            </div>
            {{!-- POST PROMPT END --}}

            {{!-- POST PREVIEWS --}}
            <div class="page-content" id="page-content">
                {{#each posts}}
                    {{> postprev}}
                {{/each}}
            </div>
            {{!-- POST PREVIEWS END --}}
        
        </div>
        {{!-- TIMELINE END --}}

    {{!-- ICON IMPORT --}}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {{!-- ICON IMPORT END --}}

    {{#if loggedIn}}
    <script>
        var sessionData = {
            username: "{{loggedUsername}}",
            icon: "{{profileIcon}}" 
        }
    </script>    
    {{/if}}
    <script src="../js/timeline.js"></script>

    </body>
</html>