<!DOCTYPE html>
<html>
<head>
	<title>Salamin | Home</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	
	<div class="profile-side glasshover"  onclick="event.stopPropagation(); window.location.href='/{{username}}" style="background-image: url(../images/{{banner}})"> <!-- side bar -->

		<div class="side-header"> <!-- logo -->
			<a href="/home"><img src="../images/salamin_logoSMALL.png" alt="Salamin" id="salamin-logo"></a>
		</div>

		<div class="side-content"> <!-- profile pic bg & profile text thing -->
			<div class="side-message">Good morning, {{displayName}}! <br> You're doing just fine. </div>
			{{!-- Good morning, displayName!
					You're doing just fine.  --}}
			<div class="user-info">{{numPosts}} posts | {{numComments}} comments</div>
		</div>

		<div class="side-footer"> <!-- action sprites (logout, username, settings) -->
			<ion-icon name="log-out-outline" onclick="event.stopPropagation(); window.location.href='/'"></ion-icon>

			<div class="username-action">
				<a href="/{{username}}">{{username}}</a>
			</div>

			<ion-icon name="sunny-outline"></ion-icon>
			
		</div>
	</div>

	<div class="post-side">

		<div class="page-header"> <!-- search -->
			<div class="user-pfp glasshover"style="background-image: url(../images/{{icon}})" onclick="location.href='/{{username}}'"></div>
			<div class="search-bar">
				<ion-icon name="search-outline"></ion-icon>
				<form class="searchForm">
					<input type="text" placeholder="Search" id="search" name="filter">
				</form>
				
			</div>

			<nav class="dropdown-container">
				<ion-icon class="dropdown-button" name="filter-outline"></ion-icon>

				<div class = "dropdown-items">
					<button onclick="window.location.href = 'timeline.html?sortBy=recent';">Recent</button>
					<button onclick="window.location.href = 'timeline.html?sortBy=old';">Old</button>
					<button onclick="window.location.href = 'timeline.html?sortBy=popular';">Popular</button>
					<button onclick="window.location.href = 'timeline.html?sortBy=unpopular';">Unpopuar</button>
				</div>
			</nav>
		</div>


		<div class="box">
			<form method="POST">
				<input type="text" placeholder="Title" class="post-title" name="postTitle" id="post-title">
				<textarea placeholder="What's on your mind?" name="postBox" class="textarea"  role="textbox" id="post-box" contenteditable></textarea>
            	<button id="post-button" onclick="window.location.href='/home'">Post</button>
			
			</form>

            
        </div>

		<div class="page-content" id="page-content">
			{{#each posts}}
				{{> postprev}}
			{{/each}}
		</div><!-- timeline -->

	</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	
</body>
</html>