<!DOCTYPE html>
<html>
<head>
	<title>Salamin | Post by @{{username}}</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
    <div class="page">

        {{!-- <div class="post-page-header">
            <span class="page-back">
                <a href="/{{username}}"><ion-icon name="arrow-back-outline"></ion-icon></a>
            </span>
        </div> --}}
        {{> headernp}}

        <div class="box green" id="post-section">
            <div class="post-header">
                <div class="vote-container">
                    <ion-icon name="caret-up-outline" ></ion-icon>
                    <div>{{votes}}</div> 
                    <ion-icon name="caret-down-outline"></ion-icon>
                </div>

                <h1 contenteditable="false" id="post-title">
                    {{title}}
                </h1>
            </div>

            <div class="flex-column" id="post-description-container">
                <p id="post-description" contenteditable="false">{{description}}</p>
            </div>
            <div class="post-footer">
                
                <div><h2>{{username}} | {{date}}</h2></div>
                <div style="background-image: url(../images/{{icon}})" class="post-pfp pfp-small"></div>
                
            </div>
        </div>
        <div class="box" id="comment-section">
            {{#each comments}}
                {{> comment}} {{!-- logged in boolean --}}
            {{/each}}
        </div>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
