<!DOCTYPE html>
<html>
<head>
	<title>Salamin | Home</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	

	<div class="page">
		{{!-- {{> header-nav-prev}} --}}
		<div class="post-page-header">
			<a href="/"><ion-icon name="arrow-back-outline"></ion-icon></a>
		</div>

        <div class="box green noPadding" id="profile-section">
            
			<div class="user-banner" style="background-image: url('/images/{{banner}}')"></div>
			<div class="profile-info-header">
				<div style="background-image: url('/images/{{icon}}')" class="post-pfp glasshover" id="profile-photo"></div>
				<div class="profile-info-body">
					<h1 id="display-name" contenteditable="false">{{displayName}}</h1>
					<h2 id="username" contenteditable="false">@{{username}}</h2>
					<div class="user-bio" id="user-bio" contenteditable="false"> {{bio}} </div>
				</div>

				<button id="edit-profile" onclick="editProfile()">
					Edit profile
				</button>
			</div>

        </div>

		<div class="box">
			<input type="text" placeholder="Title" class="post-title" id="post-title">
            <span class="textarea" role="textbox" id="post-box" contenteditable></span>
            
            <button id="post-button">Post</button>
        </div>

		<div class="page-content" id="page-content"> <!-- timeline -->
			<div class="post"> <!-- posts proper -->
			<div class="post-content glasshover">
				
				<div class="vote-container vote-width">
					{{!-- vote count update ajax ?? and in profilecontroller 
					 onclick="upvote(this.id)" --}}
					<ion-icon name="caret-up-outline" ></ion-icon>
					<div>{{votes}}</div>
					<ion-icon name="caret-down-outline"></ion-icon>
				</div>

				<a href="/{{username}}/{{postID}}">
					<div class="post-text">
						
						<h1>{{title}}</h1>
						<h2>{{username}} | {{date}} | {{numComments}} replies</h2>
						
					</div>
				</a>

			</div>
			
			<a href="/{{username}}">
				<div style="background-image: url(/images/{{icon}})" class="post-pfp glasshover"></div>
			</a>	
				
		</div>
		</div>

	</div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	
</body>
</html>